
*{background-color: lightseagreen;}
#aa{color: black; background-color: red;}
#a{color: blue; background-color: tomato;}
p{color: red; background-color: black;}
a{background-color: black; font-size: 25px;}
h1{color: brown; background-color: black;}
#img{width: 200px; height: 200px;}